<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/pr_info.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/jquery.browser.js" ></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.js"></script>
	

	
	
</head>
<body>
	<div id="popup">
		<div class="cover">
					
		</div>
		<div class='center container'>
			
					<!-- Swiper -->
				    <div class="swiper-container">
						<div class="swiper-wrapper">
						<div class="swiper-slide">
						    <img class="active" src="images/pdinfo/hd8927/8927-1.jpg" alt="">
						</div>
						<div class="swiper-slide">
						    <img class="active" src="images/pdinfo/hd8927/8927-2.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img class="active" src="images/pdinfo/hd8927/8927-3.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img class="active" src="images/pdinfo/hd8927/8927-4.jpg" alt="">
						</div>
					
						</div>
					
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
		</div>
				
	</div>
	<div class="main">
		<div class="pd_item center">
			<div class="pd_grally">
				<div class="pd_pic">
					<!-- <img class="active" src="images/pdinfo/hd8927/pd_pic1.png" alt="">
					<img src="images/pdinfo/hd8927/pd_pic2.png" alt="">
					<img src="images/pdinfo/hd8927/pd_pic3.png" alt="">
					<img src="images/pdinfo/hd8927/pd_pic4.png" alt=""> -->
					<img v-for="(item, index) in piclist" :key="index" v-bind:src="'images/pdinfo/'+product_name+'/' + item.pic_name+'.png'" v-bind:class= "{active: item.active }"  >
				</div>
				<div class="pd_scale_btn change_btn" @click="openSwiper">
					<img src="images/pdinfo/scale_btn.jpg" alt="">
					<img src="images/pdinfo/scale_btn_on.jpg" alt="">
				</div>
				<div class="pd_piclist"  >
				   <img v-for="(item, index) in piclist" :key="index" v-bind:src="'images/pdinfo/'+product_name+'/' + item.name+'.jpg'" v-bind:class= "{active: item.active }" @click="toggleActiveClass(index)" >
					<!-- <img  src="images/pdinfo/hd8927/pd_grally01.jpg" alt="" v-bind:class= "{active: piclist_isActive[0] === true }" @clic.stop.preventk="myFilter(0)" >
					<img src="images/pdinfo/hd8927/pd_grally02.jpg" alt=""  v-bind:class="{ active: piclist_isActive[1] === true}" @click.stop.prevent="myFilter(1)" >
					<img src="images/pdinfo/hd8927/pd_grally03.jpg" alt=""  v-bind:class="{ active: piclist_isActive[2] === true}" @click.stop.prevent="myFilter(2)">
					<img src="images/pdinfo/hd8927/pd_grally04.jpg" alt=""  v-bind:class="{ active: piclist_isActive[3] === true}" @click.stop.prevent="myFilter(3)"> -->
				</div>
			</div>
			<div class="pd_title">
				<div class="pd_brand">
					<img src="images/pdinfo/hd8927/Saeco-PicoBaristo-logo.png" alt="">
					
				</div>
				<p>Pico Baristo <span>HD8927</span></p>
				<p>專屬迷你咖啡師</p>
				<p>輕巧機身，11種飲品一鍵可得</p>
				<div class="pd_certification">
					<!-- <img src="images/pdinfo/hd8927/pd_info_logo1.jpg" alt="">
					<img src="images/pdinfo/hd8927/pd_info_logo2.jpg" alt="">
					<img src="images/pdinfo/hd8927/pd_info_logo3.jpg" alt="">
					<img src="images/pdinfo/hd8927/pd_info_logo4.jpg" alt=""> -->
					<img v-for="(item, index) in product_brand" :key="index" v-bind:src="'images/pdinfo/'+product_name+'/' + item+'.jpg'"  >
					
				</div>
			</div>
		</div>
		<div class="pd_info center">
			<table id="pd_info">
				<tbody>
					<tr>
						<th rowspan="4">設計造型
							<div class="line"></div>
						</th>
						<td>顯示器</td>
						<td>三色顯示</td>
					</tr>
					<tr>
						<td>觸控裝置</td>
						<td>按鍵式</td>
					</tr>
					<tr>
						<td>材質</td>
						<td>鋼琴烤漆 / ABS塑膠</td>
					</tr>
					<tr>
						<td>外觀</td>
						<td>正面金屬感 / 側面黑色</td>
					</tr>
					<tr>
						<th rowspan="3">簡便易用</th>
						<td>可拆卸式蒸餾沖泡器</td>
						<td>三色顯示</td>
					</tr>
					<tr>
						<td>觸控裝置</td>
						<td>按鍵式</td>
					</tr>
					<tr>
						<td>材質</td>
						<td>鋼琴烤漆 / ABS塑膠</td>
					</tr>
					     <tr>
							<th rowspan="12">咖啡客製化</th>
							<td>Saeco沖泡系統SBS－咖啡菁華乳層(Crema)調整器</td>
							<td>-</td>
						</tr>
						<tr>
							<td>觸控裝置</td>
							<td>按鍵式</td>
						</tr>
						<tr>
							<td>材質</td>
							<td>鋼琴烤漆 / ABS塑膠</td>
						</tr>
						<tr>
							<td>外觀</td>
							<td>正面金屬感 / 側面黑色</td>
						</tr>
			    </tbody>
			</table>

		</div>
	</div>
</body>
<script>
	
var scrollY=0;
var swiper;
var app = new Vue({
	  el: '.main',
	  
	  data: {
	    product_name: 'hd8927',
		product_brand: ['pd_info_logo1','pd_info_logo2','pd_info_logo3','pd_info_logo4'],
		piclist:[{name:'pd_grally01',active:true,pic_name:'pd_pic1'},{name:'pd_grally02',active:false,pic_name:'pd_pic2'},
                {name:'pd_grally03',active:false,pic_name:'pd_pic3'}, {name:'pd_grally04',active:false,pic_name:'pd_pic4'}],
	  },
	  methods:{
		myFilter(n){
			// console.log(this.piclist_isActive);

			// this.piclist_isActive[n] = !this.piclist_isActive[n];

		},
		toggleActiveClass:function(index){
		   for (let index = 0; index <this.piclist.length; index++) {
			 this.piclist[index].active=false;
		   }
		  this.piclist[index].active=!this.piclist[index].active;
		},
		openSwiper: function(){
			   var vm=this;
				$("#popup").fadeIn(function(){
					    swiper.update();
						for (let index = 0; index <vm.piclist.length; index++) {
							
							if(vm.piclist[index].active){
								
								swiper.slideTo(index, 200);
							}
							
						}
						
					    scrollY=$(window).scrollTop();
						console.log(scrollY);
						$('.main').css({'position': 'fixed', 'top': $(jQuery.browser.webkit ? 'body':'html').scrollTop() * -1});
						$(jQuery.browser.webkit ? 'body':'html').scrollTop(scrollY);
				});
		},
		closeSwiper:function(){
			
			$("#popup").fadeOut(function(){
			$('.main').css({'position': 'relative', 'top': $(jQuery.browser.webkit ? 'body':'html').scrollTop() * -1});
			$(jQuery.browser.webkit ? 'body':'html').scrollTop(scrollY);
			});
		}

	  },
	  created(){
		    var vm=this;
			swiper = new Swiper('.swiper-container', {
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
				// slidesPerView: 'auto',
				centeredSlides: true,
				on: {
					init: function () {
					/* do something */
					console.log("12")
					},
					slideChange: function(){

						console.log(swiper.activeIndex);
						
						vm.toggleActiveClass(swiper.activeIndex);
					}

				}
			});
	  	
	  }
	})	
</script>
</html>